.App {
  display: flex;
  gap: 5px;
  padding: 5%;
  font-weight: bold;
  text-align: center;
}

form {
  border: black 2px solid;
  background-color: rgb(197, 200, 219);
  padding: 2%;
  height: 200px;
}

table {
  border: black 2px solid;
  min-width: 300px;
  max-width: fit-content;
  height: 100px;

  & thead {
    border: black 2px solid;
    background-color: rgb(133, 133, 133);
  }

  .delete {
    background-color: rgb(133, 133, 133);
  }

  & td {
    padding: 10px;
  }

  & tr {
    max-height: 10px !important;
  }

  & .num {
    background-color: rgb(133, 133, 133);
  }
}

tbody > tr:hover {
  background-color: rgb(197, 200, 219);
}
